/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	.logo{
		width: 80%;
	}
	.cid ul li{
		margin-right: 0;
		text-align: right;
	}
	.fa-bars{
		font-size: 30px;
	}
	.s-text{
		margin-top: 20px;
	}
	.s-p{
		line-height: 25px;
	}
	.carousel-indicators li {
	    width: 12px;
	    height: 12px;
	}

	.carousel-indicators {
	    bottom: -50px;
	}
	.slider{
		padding-bottom: 60px;
	}
	.s-icon{
		font-size: 30px;
	}
	.s-h1{
		margin-bottom: 10px;
		font-size: 30px;
		font-weight: 700;
	}
	.s-h4{
		margin-bottom: 10px;
		font-size: 22px;
	}


	/*feature*/
	.c-padding{
		padding-top: 80px;
		padding-bottom: 100px;
	}
	.single-item{
		text-align: center;
	}
	.si-icon{
		margin-bottom: 15px;
	}
	.single-item{
		margin-top: 40px;
	}
	.si-icon i{
		font-size: 40px;
	}

	/*footer*/
	.footer-text{
		text-align: center;
	}
	.footer-ul{
		margin-top: 20px;
		text-align: center;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	.cid ul li{
		margin-right: 0;
		text-align: right;
	}
	.fa-bars{
		font-size: 35px;
	}
	.s-text{
		margin-top: 30px;
	}
	.c-padding{
		padding-top: 60px;
		padding-bottom: 70px;
	}
	/*footer*/
	.footer-text{
		text-align: center;
	}
	.footer-ul{
		margin-top: 20px;
		text-align: center;
	}
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	.cid ul li{
		margin-right: 0;
		text-align: right;
	}
	.s-text{
		margin-top: 40px;
	}

}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

/*Extra Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 

}

/*Extra Extra large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 

}





